-
	const colors = [	
		{ name: 'Amarillo', hex: 'var(--color-yellow)' },
		{ name: 'Naranja claro', hex: 'var(--color-orange)' },
		{ name: 'Naranja', hex: 'var(--color-orange-light)' },	
		{ name: 'Magenta', hex: 'var(--color-magenta)' },
		{ name: 'Verde', hex: 'var(--color-green)' },
		{ name: 'Verde oscuro', hex: 'var(--color-green-dark)' },
		{ name: 'Verde profundo', hex: 'var(--color-green-deep)' },
		{ name: 'Azul', hex: 'var(--color-blue)' },
		{ name: 'Morado', hex: 'var(--color-purple)' },
		{ name: 'Fucsia', hex: 'var(--color-fuchsia)' },
	]

section(class='color-table')
	div(class='color-table__container')
		h2(class='color-table__title') Paleta de colores 
		div(class='color-table__grid')
			each color in colors
				article(class='color-table__card')
					div(class='color-table__swatch' style=`background-color: ${color.hex}`)
					div(class='color-table__body')
						h3(class='color-table__name')= color.name
						p(class='color-table__hex')= color.hex
