extends ../config/template

append config
	-currentPage		= "style-guide"
	-siteName			= 'Style Guide'
	-content			= 'content'
	-pageDescription	= 'Style Guide de MyBoilerplate'

block main-header
block main-container
	include ../components/color-table
	include ../components/typography-module
block main-footer
block scripts
