-let internalSaludo = 'Internal Module';
div(class='ed-grid')
	h2=internalSaludo
div(class='ed-grid sm-grid-2 m-grid-3 l-grid-4 lg-grid-4 row-gap')
	div: h3=internalSaludo
	div: h3=internalSaludo
	div: h3=internalSaludo
	div: h3=internalSaludo
